@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #282c35; /* Background color for the dark theme */
  --nav-color:  #121212; /* Background color for the navigation bar */
  --text-color: #ffffff; /* Text color for the dark theme */
  --primary-color: #ebe4e3;
  --secondary-color: #f52404e5;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--nav-color);
    box-shadow: 0 3px 5px rgba(52, 8, 8, 0.1);
    color: var(--text-color); /* Text color for the navigation bar */
}
nav h1{
    color: var(--primary-color);
}
nav a{
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);

}
nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
nav ul li {
    font-weight: var(--bold-font);
  
}
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2500vh;
    text-align: center;
}

.bio {
    text-align: center;
    width: 35rem;
    max-height: 27rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio p {
    margin: 0; /* Remove default margin */
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.hero img {
    max-height: 27rem; 
    width: 35rem;
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}


.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
.skill-header {
    margin-bottom: 1rem;
  }
  
.skills-wrapper img {
    padding: 1.25rem;
  }
  
.icon {
    width: auto;
    height: 11.875rem;
  }

.icon-card {
    
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }

.proj-img {
    width: auto;
    height: 25%;
  }
.proj-container p {
    padding: 0.4rem;
  }
  
.proj-title {
    margin-bottom: var(--bottom-margin);
  }
  
.proj-details {
    margin-bottom: var(--bottom-margin);
  }
  
.proj-card {
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem; 
  }
html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}
